body{margin: auto;font-size:14px;background-color: #EDEDED;font-family: "微软雅黑";}
a:hover{
	color: red;
	cursor: pointer;
}
a{
	color: #000000;
	text-decoration: none;
}
.clear{
	clear: both;
}
.item{
	width: 96%;
	text-align: left;
	clear: both;
	background-color: #ffffff;
	border-radius: 5px 5px 5px 5px;
	margin:5px 2% 5px 2%;
	padding-bottom: 5px;
	padding-top: 5px;
}
.pager{
	width: 100%;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
	color:#9C9C9C ;
}
.el-footer{
	height: 50px;
	width: 100%;
	position:fixed;
	bottom: 0px;
	text-align: center;
	padding: 0px;
	line-height: 40px;
	background-color: #FFFFFF;
}
.el-footer .el-col:last-child{
	border-left: 1px solid #EDEDED;
}
